.DS_Store
*.ogv
*.sw*
.ipynb_checkpoints/
octave-workspace
PolyPipeline_140818.pdf
mkPDF/
center/CenteredPipeline_220818.pdf
*__pycache__*
PolyPipeline_140818.pdf
make_polygons/bigPDF
polygon_traits/geojs/
trait*.txt
make_polygons/ex/
toy/
messedUpSpots.pickle
.RData
.Rhistory
